_ReSharper.*
[Oo]bj
[Bb]in
*.bak
*.suo
*.log
*.user
out
build/
target/
reports/
src/java/metamorph/Java/Java.tokens
src/java/metamorph/Java/JavaBaseListener.java
src/java/metamorph/Java/JavaBaseVisitor.java
src/java/metamorph/Java/JavaLexer.java
src/java/metamorph/Java/JavaLexer.tokens
src/java/metamorph/Java/JavaListener.java
src/java/metamorph/Java/JavaParser.java
src/java/metamorph/Java/JavaVisitor.java
