body {
    font: x-small Calibri, Arial, sans-serif;
}

h1 {
    font: bold Calibri, Arial, sans-serif;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font: bold 100% Arial, sans-serif;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

tr {
	padding: 0;
    /*border: 1px solid;*/
}

td, th {
    vertical-align: top;
    text-align: left;
    padding-bottom: 0em;
    border: 0;
    font-size: small;
}

th {
	padding-right: 1em;
	padding-left: 1em;
	font-size: small;
}

pre {
    margin: 0;
    font: 9pt Menlo, monospaced;
    display: inline;
}

.duplicate {
    background-color: #c0c0c0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}
