body {
    font: x-small Calibri, Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font: bold Calibri, Arial, sans-serif;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font: bold 100% Arial, sans-serif;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

table {
    padding: 0;
    border-collapse: collapse;
}

tr {
    padding: 0;
    /*border: 1px solid;*/
}

td, th {
    vertical-align: top;
    text-align: left;
    padding-bottom: 0em;
    border: 0;
    font-size: small;
}

th {
    padding-right: 1em;
    padding-left: 1em;
    font-size: small;
}

pre {
    margin: 0;
    font: 9pt Menlo, monospaced;
}

.duplicate {
    background-color: #000;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: white;
}

.duplicate a {
    color: white;
}
.duplicate a:visited {
    color: lightgray;
}
